#catalog { padding:20px 0 0; font-size:1.3em; overflow:hidden; }
#catalog .object { float:left; margin:0 40px 30px 0; }
#catalog .image { position:relative; width:170px; height:170px; }
#catalog .image a { text-decoration:none; }
#catalog .image img { margin:2px; }
#catalog .title { margin:5px 0 0 2px; }
#catalog .title a { color:#363E41; text-decoration:none; }
#catalog .price { margin-left:2px; }
